<%= javascript_tag do %>
  $(window).load(function() {
      Pages.start();
    });
<% end %>
  <div class="block initial">
    <header class="top-navigation">
      <ul class="nav-menu">
        <li><a href="" class="log-in">Log In</a></li>
        <li><a href="" class="about">About</a></li>
      </ul>
    </header>
    <div class="half-col main-text"><p>We can't help you make friends, <br> but we can make travelling with the one's you have, easier.</p>
    <h2>Planit.</h2>
    </div>
    <div class="half-col center login-register">
      <%= render "devise/registrations/new" %>
      <%= render "devise/sessions/new" %>
    </div>
  </div>
  <div class="block tertiary">
    <div class="half-col omega"><%= image_tag('front-eg',  class: "front-eg")%></div>
    <div class="half-col" style="padding-left: 15px;">
      <h3>About Planit</h3>
      <p>Planit makes it easier for you to build a trip with your friends by creating an application page you all have access to.</p>
      <div class="cards">
        <div class="third-col center">
          <%= inline_svg("icons/globe.svg", class: "front-svg") %><br>
          <div class="first-sub sub">Create a trip and add your friends.</div>
        </div>
        <div class="third-col center">
          <%= inline_svg("icons/calendar.svg", class: "front-svg") %><br>
          <div class="second-sub sub" >Add and edit destinations in your itinerary</div>
        </div>
        <div class="third-col center">
          <%= inline_svg("icons/aircraft.svg", class: "front-svg") %><br>
          <div class="third-sub sub" >Finalize and go!</div>
        </div>
      </div>
    </div>
  </div>
