<div class="action-container login-container hidden">
  <h3>Log in</h3>
  <div class="divider-line"></div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, :placeholder => :email %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :placeholder => :password  %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.label :remember_me, class: 'no-emphasis right' %>
        <%= f.check_box :remember_me, class: 'right' %>
      </div>
    <% end -%>

    <div class="actions block">
      <%= f.submit "Log in", class: 'button'%>
    </div>
  <% end %>

  <div class="block no-emphasis">
    <a href="" class="left register">Register</a>
       <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'right' %><br />
      <% end -%>
  </div>
</div>

