<!DOCTYPE html>
<html>
<head>
  <title>Planit</title>
  <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <!-- sha1 -->
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>
  <!-- sha256 -->
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
  <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
  <script src="oauth-1.0a.js"></script>

</head>
<body>
<div class="container">
	<!-- header logic for all pages (splash and dash) -->
	<header class="block top-navigation">
		<ul class="nav-menu">
		<% if user_signed_in? %>
			<li>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</li>
			<li>
				<%= link_to "Account", edit_user_registration_path %>
			</li>
			<li>
				<%= link_to('Home', root_path) %>
			</li>
		<% else %>
			<li>
				<a href="" class="log-in">Log In</a>
			</li>
			<li>
				<a href="">About</a>
			</li>
		<% end %>
		</ul>
	</header>
	<!-- End header logic -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
